/*
body {
    color: #555;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1px;
}
*/

/*
h1 {
    text-align: center;
}
*/

.error-message { color: #aa0000; }

#login-box
{
    display: table;
    margin: 20% auto;
    border: 3px solid #7ad;
    border-radius: 5px;
}
#login-box-header
{
    display: table-row;
    background: #7ad;
    text-align: center;
}
.login-box-row
{
    display: table-row;
    text-align: center;
}
.login-box-text { padding: 0 0.5em; }

.menu
{
  display: flex;
  align-items: center;
}

.menu-link
{
  padding: 0 1em;
  text-decoration: none;
  color: blue;
}

.menu-link a:link
{
    color: #0000ee;
    text-decoration: none;
}

.menu-link a:visited
{
    color: #0000ee;
    text-decoration: none;
}

.disabled .menu-link
{
    color: #aaa;
    pointer-events: none;
    cursor: default;
}

#menu-search-bar
{
    flex: 2;
    width: 100%;
    box-sizing: border-box;
    margin-left: 1.5em;
    margin-right: 1em;
    padding: 0 0.3em;
}

.menu-rule
{
    border: 0 none;
    height: 3px;
    background-color: #eee;
    color: #eee;
}

#search-footer-newer
{
    flex: 1;
    text-align: left;
    color: #aaa;
}

#search-footer-older
{
    flex: 1;
    text-align: right;
    color: #aaa;
}

.columnated-count
{
  float: left;
  text-align: right;
  padding-right: 0.5em;
}

.columnated-name a { text-decoration: none; }
.columnated-name a:visited { color: blue; }

#thread-summary-list { display: table; }

.thread-summary-line
{
  color: black;
  text-decoration: none;
  display: table-row;
}

.thread-summary-cell
{
  display: table-cell;
  white-space: nowrap;
  padding: 0.05em 0.2em;
}

.author-cell
{
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 15em;
}

/* The .thread-is-* and .tag-* classes are dynamic for now.  You can
  create new ones, and they should work, plus or minus encoding issues
  */

.thread-is-unread { font-weight: bold; }
.thread-is-flagged { color: blue; }

.tag { font-weight: bold; color: DarkBlue;}

.tag-flagged
{
  color: yellow;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.tag-unread { color: red; }

.show-msg
{
  border-left-style: solid;
  border-left-width: 3px;
  border-left-color: #eee;
  min-width: 30em;
}
.show-msg-left-pad { padding-left: 3px; }
.show-msg-summary
{
    background: #f0f0f0;
    display: flex;
    justify-content: space-between;
}

.show-headers { background: #ffffff }

.header-name { color: CornflowerBlue;}
.header-field-to { color: MidnightBlue; font-weight: bold;}
.header-field-cc { color: MidnightBlue;}
.header-field-subject { color: Navy; font-weight: bold;}
.header-field-date { color: SteelBlue;}

.show-body
{
  display: block;
  font-family: monospace;
  white-space: pre-wrap;
  margin: 1em 0;
}

.cited-text
{
    color: red;
}

.cited-button
{
    color: firebrick;
}
.part-type-marker { color: #228b22; }
.part-type-marker a { text-decoration: none; }

.thread-node { padding-left: 1.5em; }

#compose-form { max-width: 50em; margin: auto; }
#compose-headers { display: table; }
#compose-form .compose-header { display: table-row; }
#compose-form .header-name
{
  display: table-cell;
  text-align: right;
  padding-top: 1ex;
  padding-right: 0.5em;
}

#compose-form a { color: blue; text-decoration: none; outline: 0; }
#compose-form .header-name { color: black; }
#compose-form .header-value
{
  display: table-cell;
  width: 100%;
  padding-top: 1ex;
}
#compose-form .header-sub-value { width: 100%; }
#compose-form #body { width: 100%; height: 20em; margin-top: 2ex; }

#compose-form #send { text-align: center; margin-top: 1ex; }
#compose-headers input[type=text]
{
  border-style: solid;
  border-top: 0; border-right: 0; border-left: 0;
}
